<app-header-navigation></app-header-navigation>
<div class="banner">
  <img src="https://www.raizs.com.br/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fb54ggvxc%2Fproduction%2Fcebca0f4c41af4038cc2c9fc8dbedda67f03101d-3840x732.png%3Fq%3D100&w=1920&q=75" alt="Imagem da home" />
</div>

<h2>MAIS VENDIDOS!</h2>
<section class="produtos">
  <app-card-produto
    [produto]="produto"
    *ngFor="let produto of produtos"
  ></app-card-produto>
</section>

<app-footer-navigation></app-footer-navigation>
